In [118]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn import preprocessing
from collections import defaultdict


%matplotlib inline

In [2]:
data = pd.read_csv('./commodity_trade_statistics_data.csv')

/Users/mihailojoksimovic/miniconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data.head()

,country_or_area,year,comm_code,commodity,flow,trade_usd,weight_kg,quantity_name,quantity,category
0,Afghanistan,2016,10410,"Sheep, live",Export,6088,2339.0,Number of items,51.0,01_live_animals
1,Afghanistan,2016,10420,"Goats, live",Export,3958,984.0,Number of items,53.0,01_live_animals
2,Afghanistan,2008,10210,"Bovine animals, live pure-bred breeding",Import,1026804,272.0,Number of items,3769.0,01_live_animals
3,Albania,2016,10290,"Bovine animals, live, except pure-bred breeding",Import,2414533,1114023.0,Number of items,6853.0,01_live_animals
4,Albania,2016,10392,"Swine, live except pure-bred breeding > 50 kg",Import,14265937,9484953.0,Number of items,96040.0,01_live_animals

In [5]:
X = data.drop(columns=['country_or_area'])

In [7]:
y = data['country_or_area']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [106]:
features = ['country_or_area','year','commodity','category', 'flow', 'trade_usd']

In [66]:
X = data[features]
y = data['country_or_area']

In [67]:
d = defaultdict(preprocessing.LabelEncoder)

In [68]:
le = preprocessing.LabelEncoder()

In [71]:
X = X.apply(lambda x: d[x.name].fit_transform(x))

In [72]:
X.head()

   category  flow  trade_usd
0         0     0       6087
1         0     0       3957
2         0     1     806480
3         0     1    1294409
4         0     1    2243807

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [78]:
kmeans = KMeans(n_clusters=3, random_state=0).fit(X)

In [76]:
kmeans.labels_

array([2, 0, 0, ..., 1, 2, 0], dtype=int32)

In [79]:
prediction_3 = kmeans.predict(X)

In [80]:
data['cluster_3'] = prediction_3

In [83]:
countries = pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")

In [85]:
data.loc[data.country_or_area == 'Belgium-Luxembourg', 'country_or_area'] = 'Belgium'
data.loc[data.country_or_area == 'Bosnia Herzegovina', 'country_or_area'] = 'Bosnia and Herzegovina'
data.loc[data.country_or_area == 'China, Hong Kong SAR', 'country_or_area'] = 'China'
data.loc[data.country_or_area == 'China, Macao SAR', 'country_or_area'] = 'China'
data.loc[data.country_or_area == 'Czech Rep.', 'country_or_area'] = 'Czech Republic'
data.loc[data.country_or_area == 'Serbia and Montenegro', 'country_or_area'] = 'Serbia'
data.loc[data.country_or_area == 'USA', 'Region'] = 'USA'

In [86]:
data = data.merge(countries, left_on='country_or_area', right_on='Country', how='left')

In [87]:
data.head()

,country_or_area,year,comm_code,commodity,flow,trade_usd,weight_kg,quantity_name,quantity,category,cluster_3,Region_x,Country,Region_y
0,Afghanistan,2016,10410,"Sheep, live",Export,6088,2339.0,Number of items,51.0,01_live_animals,0,NaN,Afghanistan,ASIA
1,Afghanistan,2016,10420,"Goats, live",Export,3958,984.0,Number of items,53.0,01_live_animals,0,NaN,Afghanistan,ASIA
2,Afghanistan,2008,10210,"Bovine animals, live pure-bred breeding",Import,1026804,272.0,Number of items,3769.0,01_live_animals,2,NaN,Afghanistan,ASIA
3,Albania,2016,10290,"Bovine animals, live, except pure-bred breeding",Import,2414533,1114023.0,Number of items,6853.0,01_live_animals,2,NaN,Albania,EUROPE
4,Albania,2016,10392,"Swine, live except pure-bred breeding > 50 kg",Import,14265937,9484953.0,Number of items,96040.0,01_live_animals,1,NaN,Albania,EUROPE

In [104]:
europe = data[data['Region_y'] == 'EUROPE']

In [105]:
europe.shape

(2716122, 14)

In [107]:
features = ['country_or_area','year','commodity','category', 'flow', 'trade_usd']

In [108]:
X_europe = europe[features]

In [109]:
d = defaultdict(preprocessing.LabelEncoder)

In [110]:
X = X_europe.apply(lambda x: d[x.name].fit_transform(x))

In [113]:
X.head()

   country_or_area  year  commodity  category  flow  trade_usd
3                0    28        492         0     1     725342
4                0    28       4071         0     1    1140247
5                0    28       1623         0     1     750939
6                0    28       1623         0     0      86062
7                0    28       3375         0     1      26484

In [114]:
kmeans = KMeans(n_clusters=2, random_state=0).fit(X)

In [115]:
europe['kmeans_3'] = kmeans.predict(X)

/Users/mihailojoksimovic/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [117]:
europe[['country_or_area', 'year', 'kmeans_3']]

        country_or_area  year  kmeans_3
3               Albania  2016         0
4               Albania  2016         0
5               Albania  2016         0
6               Albania  2016         1
7               Albania  2016         1
8               Albania  2016         0
9               Albania  2016         1
10              Albania  2016         1
11              Albania  2015         0
12              Albania  2015         1
13              Albania  2015         0
14              Albania  2015         0
15              Albania  2015         1
16              Albania  2015         0
17              Albania  2015         1
18              Albania  2015         1
19              Albania  2014         0
20              Albania  2014         0
21              Albania  2014         1
22              Albania  2014         0
23              Albania  2014         1
24              Albania  2014         0
25              Albania  2014         1
26              Albania  2014         1
27              Albania  2013         1
28              Albania  2013         1
29              Albania  2013         1
30              Albania  2013         0
31              Albania  2013         1
32              Albania  2013         0
...                 ...   ...       ...
8225442  United Kingdom  2005         0
8225443  United Kingdom  2004         0
8225444  United Kingdom  2004         0
8225445  United Kingdom  2004         0
8225446  United Kingdom  2003         0
8225447  United Kingdom  2003         0
8225448  United Kingdom  2003         0
8225449  United Kingdom  2002         0
8225450  United Kingdom  2002         0
8225451  United Kingdom  2002         0
8225452  United Kingdom  2001         0
8225453  United Kingdom  2001         0
8225454  United Kingdom  2001         0
8225455  United Kingdom  2000         0
8225456  United Kingdom  2000         0
8225457  United Kingdom  2000         0
8225458  United Kingdom  1999         0
8225459  United Kingdom  1999         0
8225460  United Kingdom  1998         0
8225461  United Kingdom  1998         0
8225462  United Kingdom  1997         0
8225463  United Kingdom  1997         0
8225464  United Kingdom  1996         0
8225465  United Kingdom  1996         0
8225466  United Kingdom  1995         0
8225467  United Kingdom  1995         0
8225468  United Kingdom  1994         0
8225469  United Kingdom  1994         0
8225470  United Kingdom  1993         0
8225471  United Kingdom  1993         0

[2716122 rows x 3 columns]

In [127]:
from sklearn.preprocessing import StandardScaler

In [132]:
X = preprocessing.LabelEncoder().fit_transform(X_europe)

ValueError: bad input shape (2716122, 6)

In [124]:
dbscan = DBSCAN().fit(X)

In [126]:
labels = dbscan.labels_

# Number of clusters in labels, ignoring noise if present.
n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0)

print('Estimated number of clusters: %d' % n_clusters_)

Estimated number of clusters: 0

In [120]:
europe['dbscan'] = dbscan.predict(X)

AttributeError: 'DBSCAN' object has no attribute 'predict'

In [133]:
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.datasets.samples_generator import make_blobs
from sklearn.preprocessing import StandardScaler

In [139]:
# #############################################################################
# Generate sample data
centers = [[1, 1], [-1, -1], [1, -1]]
X, labels_true = make_blobs(n_samples=750, centers=centers, cluster_std=0.4,
                            random_state=0)

In [140]:
X

array([[ 0.84022039,  1.14802236],
       [-1.15474834, -1.2041171 ],
       [ 0.67863613,  0.72418009],
       ...,
       [ 0.26798858, -1.27833405],
       [-0.88628813, -0.30293249],
       [ 0.60046048, -1.29605472]])

In [141]:
X = StandardScaler().fit_transform(X)

In [142]:
X

array([[ 0.49426097,  1.45106697],
       [-1.42808099, -0.83706377],
       [ 0.33855918,  1.03875871],
       ...,
       [-0.05713876, -0.90926105],
       [-1.16939407,  0.03959692],
       [ 0.26322951, -0.92649949]])

In [143]:
europe.head()

,country_or_area,year,comm_code,commodity,flow,trade_usd,weight_kg,quantity_name,quantity,category,cluster_3,Region_x,Country,Region_y,kmeans_3
3,Albania,2016,10290,"Bovine animals, live, except pure-bred breeding",Import,2414533,1114023.0,Number of items,6853.0,01_live_animals,2,NaN,Albania,EUROPE,0
4,Albania,2016,10392,"Swine, live except pure-bred breeding > 50 kg",Import,14265937,9484953.0,Number of items,96040.0,01_live_animals,1,NaN,Albania,EUROPE,0
5,Albania,2016,10511,"Fowls, live domestic < 185 grams",Import,2671732,254652.0,Number of items,5629138.0,01_live_animals,2,NaN,Albania,EUROPE,0
6,Albania,2016,10511,"Fowls, live domestic < 185 grams",Export,87581,5320.0,Number of items,115180.0,01_live_animals,0,NaN,Albania,EUROPE,1
7,Albania,2016,10519,"Poultry, live except domestic fowls, < 185 grams",Import,26485,2908.0,Number of items,64000.0,01_live_animals,0,NaN,Albania,EUROPE,1

In [144]:
features = ['commodity', 'trade_usd', 'weight_kg', 'quantity_name', 'quantity', 'category']

In [148]:
europe[features].isnull().sum()

commodity            0
trade_usd            0
weight_kg        19085
quantity_name        0
quantity         88450
category             0
dtype: int64

In [149]:
europe[features].shape

(2716122, 6)

In [161]:
europe_clean = europe
europe_clean = europe_clean.dropna()

In [162]:
europe_clean = europe_clean[europe_clean['commodity'] != 'ALL COMMODITIES']

In [163]:
europe_clean.shape

(0, 15)

In [156]:
europe_clean.commodity.unique()

array(['Bovine animals, live, except pure-bred breeding',
       'Swine, live except pure-bred breeding > 50 kg',
       'Fowls, live domestic < 185 grams', ...,
       'Original engravings, prints and lithographs',
       'Original sculptures and statuary, in any material',
       'Commodities not specified according to kind'], dtype=object)

In [157]:
europe_clean.head()

,commodity,trade_usd,weight_kg,quantity_name,quantity,category
3,"Bovine animals, live, except pure-bred breeding",2414533,1114023.0,Number of items,6853.0,01_live_animals
4,"Swine, live except pure-bred breeding > 50 kg",14265937,9484953.0,Number of items,96040.0,01_live_animals
5,"Fowls, live domestic < 185 grams",2671732,254652.0,Number of items,5629138.0,01_live_animals
6,"Fowls, live domestic < 185 grams",87581,5320.0,Number of items,115180.0,01_live_animals
7,"Poultry, live except domestic fowls, < 185 grams",26485,2908.0,Number of items,64000.0,01_live_animals

In [158]:
d = defaultdict(preprocessing.LabelEncoder)

In [159]:
europe_clean = europe_clean.apply(lambda x: d[x.name].fit_transform(x))

In [160]:
europe_clean.head()

   commodity  trade_usd  weight_kg  quantity_name  quantity  category
3        491     710862     476126              4      6853         0
4       4070    1114230     827954              4     93986         0
5       1622     735753     212660              4    749628         0
6       1622      85866       5320              4    111057         0
7       3374      26483       2908              4     63659         0