In [1]:
import pandas as pd

%matplotlib inline

In [2]:
countries = pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")

In [3]:
data = pd.read_csv('./commodity_trade_statistics_data.csv')

/Users/mihailojoksimovic/miniconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Data cleansing

## Introduce Region column

In [6]:
# Lets join the countries dataset so that we have a region as well

In [8]:
data.head()

,country_or_area,year,comm_code,commodity,flow,trade_usd,weight_kg,quantity_name,quantity,category,Country,Region
0,Afghanistan,2016,10410,"Sheep, live",Export,6088,2339.0,Number of items,51.0,01_live_animals,Afghanistan,ASIA
1,Afghanistan,2016,10420,"Goats, live",Export,3958,984.0,Number of items,53.0,01_live_animals,Afghanistan,ASIA
2,Afghanistan,2008,10210,"Bovine animals, live pure-bred breeding",Import,1026804,272.0,Number of items,3769.0,01_live_animals,Afghanistan,ASIA
3,Albania,2016,10290,"Bovine animals, live, except pure-bred breeding",Import,2414533,1114023.0,Number of items,6853.0,01_live_animals,Albania,EUROPE
4,Albania,2016,10392,"Swine, live except pure-bred breeding > 50 kg",Import,14265937,9484953.0,Number of items,96040.0,01_live_animals,Albania,EUROPE

In [9]:
countries.head()

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA

In [7]:
data = data.merge(countries, left_on='country_or_area', right_on='Country', how='left')

In [10]:
data.head()

,country_or_area,year,comm_code,commodity,flow,trade_usd,weight_kg,quantity_name,quantity,category,Country,Region
0,Afghanistan,2016,10410,"Sheep, live",Export,6088,2339.0,Number of items,51.0,01_live_animals,Afghanistan,ASIA
1,Afghanistan,2016,10420,"Goats, live",Export,3958,984.0,Number of items,53.0,01_live_animals,Afghanistan,ASIA
2,Afghanistan,2008,10210,"Bovine animals, live pure-bred breeding",Import,1026804,272.0,Number of items,3769.0,01_live_animals,Afghanistan,ASIA
3,Albania,2016,10290,"Bovine animals, live, except pure-bred breeding",Import,2414533,1114023.0,Number of items,6853.0,01_live_animals,Albania,EUROPE
4,Albania,2016,10392,"Swine, live except pure-bred breeding > 50 kg",Import,14265937,9484953.0,Number of items,96040.0,01_live_animals,Albania,EUROPE

In [11]:
# Let's drop Country because we don't need it really

In [12]:
data.drop(columns=['Country'], inplace=True)

In [13]:
data.head()

,country_or_area,year,comm_code,commodity,flow,trade_usd,weight_kg,quantity_name,quantity,category,Region
0,Afghanistan,2016,10410,"Sheep, live",Export,6088,2339.0,Number of items,51.0,01_live_animals,ASIA
1,Afghanistan,2016,10420,"Goats, live",Export,3958,984.0,Number of items,53.0,01_live_animals,ASIA
2,Afghanistan,2008,10210,"Bovine animals, live pure-bred breeding",Import,1026804,272.0,Number of items,3769.0,01_live_animals,ASIA
3,Albania,2016,10290,"Bovine animals, live, except pure-bred breeding",Import,2414533,1114023.0,Number of items,6853.0,01_live_animals,EUROPE
4,Albania,2016,10392,"Swine, live except pure-bred breeding > 50 kg",Import,14265937,9484953.0,Number of items,96040.0,01_live_animals,EUROPE

In [14]:
# Do we have some countries that weren't processed successfully?

In [17]:
data[data.Region.isnull()]['country_or_area'].unique()

array(['Anguilla', 'Aruba', 'Belgium-Luxembourg', 'Bermuda',
       'Bolivia (Plurinational State of)', 'Bosnia Herzegovina',
       'Brunei Darussalam', 'Burkina Faso', 'Cabo Verde',
       'Central African Rep.', 'China, Hong Kong SAR', 'China, Macao SAR',
       'Cook Isds', "Côte d'Ivoire", 'Czech Rep.', 'Dominican Rep.',
       'EU-28', 'Faeroe Isds', 'Fmr Fed. Rep. of Germany', 'Fmr Sudan',
       'French Guiana', 'French Polynesia', 'FS Micronesia', 'Greenland',
       'Guadeloupe', "Lao People's Dem. Rep.", 'Martinique', 'Mayotte',
       'Montserrat', 'Myanmar', 'Neth. Antilles', 'New Caledonia',
       'Other Asia, nes', 'Rep. of Korea', 'Rep. of Moldova', 'Réunion',
       'Serbia and Montenegro', 'So. African Customs Union',
       'Solomon Isds', 'State of Palestine', 'TFYR of Macedonia',
       'Timor-Leste', 'Turks and Caicos Isds', 'United Rep. of Tanzania',
       'USA', 'Viet Nam', 'Wallis and Futuna Isds', 'Cayman Isds'], dtype=object)

In [18]:
# We do ... Let's just fix some of the most important countries. For the rest I don't really care .. :-)

In [20]:
data.loc[data.country_or_area == 'Belgium-Luxembourg', 'country_or_area'] = 'Belgium'
data.loc[data.country_or_area == 'Bosnia Herzegovina', 'country_or_area'] = 'Bosnia and Herzegovina'
data.loc[data.country_or_area == 'China, Hong Kong SAR', 'country_or_area'] = 'China'
data.loc[data.country_or_area == 'China, Macao SAR', 'country_or_area'] = 'China'
data.loc[data.country_or_area == 'Czech Rep.', 'country_or_area'] = 'Czech Republic'
data.loc[data.country_or_area == 'Serbia and Montenegro', 'country_or_area'] = 'Serbia'

In [21]:
# Finally, since our data set has only USA as a region, let's just introduce that to our 'Region' list ...

In [22]:
data.loc[data.country_or_area == 'USA', 'Region'] = 'USA'

In [24]:
# Let's rejoin the data now ...

In [26]:
data = data.drop(columns=['Region']).merge(countries, left_on='country_or_area', right_on='Country', how='left')

In [27]:
data[data.Region.isnull()]['country_or_area'].unique()

array(['Anguilla', 'Aruba', 'Bermuda', 'Bolivia (Plurinational State of)',
       'Brunei Darussalam', 'Burkina Faso', 'Cabo Verde',
       'Central African Rep.', 'Cook Isds', "Côte d'Ivoire",
       'Dominican Rep.', 'EU-28', 'Faeroe Isds',
       'Fmr Fed. Rep. of Germany', 'Fmr Sudan', 'French Guiana',
       'French Polynesia', 'FS Micronesia', 'Greenland', 'Guadeloupe',
       "Lao People's Dem. Rep.", 'Martinique', 'Mayotte', 'Montserrat',
       'Myanmar', 'Neth. Antilles', 'New Caledonia', 'Other Asia, nes',
       'Rep. of Korea', 'Rep. of Moldova', 'Réunion',
       'So. African Customs Union', 'Solomon Isds', 'State of Palestine',
       'TFYR of Macedonia', 'Timor-Leste', 'Turks and Caicos Isds',
       'United Rep. of Tanzania', 'USA', 'Viet Nam',
       'Wallis and Futuna Isds', 'Cayman Isds'], dtype=object)

## Introduce commodity1 and commodity2

In [30]:
commodities_split = data.commodity.str.split(',', expand=True)
commodities_split.rename(columns={ 0: 'commodity1', 1: 'commodity2' }, inplace=True)
data = data.join(commodities_split[['commodity1', 'commodity2']])

In [31]:
data.head(3)

,country_or_area,year,comm_code,commodity,flow,trade_usd,weight_kg,quantity_name,quantity,category,Country,Region,commodity1,commodity2
0,Afghanistan,2016,10410,"Sheep, live",Export,6088,2339.0,Number of items,51.0,01_live_animals,Afghanistan,ASIA,Sheep,live
1,Afghanistan,2016,10420,"Goats, live",Export,3958,984.0,Number of items,53.0,01_live_animals,Afghanistan,ASIA,Goats,live
2,Afghanistan,2008,10210,"Bovine animals, live pure-bred breeding",Import,1026804,272.0,Number of items,3769.0,01_live_animals,Afghanistan,ASIA,Bovine animals,live pure-bred breeding